<div class = "home-popup text-center container-fluid">
    <h1>Welcome to MeowMatch</h1>
    <h2>A membership site where cats can meet other cats.</h2>
</div>

<div class = "container home-signup-links">
    <div class = "row">
         <%if user_signed_in? %>
         <!--Left column -->
         <div class = "col-md-6">
            <div class = "well">
                 <h2 class = "text-center"> Your Profile</h2>
                 <%if current_user.profile%>
                     <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-large btn-block'%>
                     <%= link_to "View your profile", user_path(id: current_user.id), class: 'btn btn-default btn-large btn-block'%>
                 <% else %>
                     <%=link_to "Create your profile", new_user_profile_path(current_user.id), class: 'btn btn-default btn-large btn-block' %>
                 <% end %>
            </div>
         </div>
         <!-- Right Column -->
         <div class = "col-md-6">
            <div class = "well">
                 <h2 class = "text-center">The Park</h2>
                 <p> Visit the park to visit other pets</p>
                 <%=link_to "Go to the park", "#", class: 'btn btn-default btn-large btn-block'%>
            </div>
        </div>

         <%else%>
        <div class = "col-md-6">
            <div class = "well">
                <h2 class = "text-center">Basic Membership</h2>
                <h4> Sign up for free and get access to basic features.</h4>
                <br>
                <%= link_to "Sign up for basic plan" , new_user_registration_path(plan: @basic_plan.id) , class: 'btn btn-primary btn-lg btn-block'%>
            </div>
        </div>
            
         <div class = "col-md-6">
             <div class = "well">
                 <h2 class = "text-center">Pro Membership</h2>
                 <h4> Sign up for the pro account and get access to ALL of our features. </h4>
                 <%= link_to "Sign up for pro plan" , new_user_registration_path(plan: @pro_plan.id) , class: 'btn btn-success btn-lg btn-block'%>
            </div>
        </div>
    </div>
       <%end%>
</div>